* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-body: #F0F0F0;
    --color-wrapper: #FDFDFD;
    --color-title: #404040;
    --color-text: #404040;

    font-family: cursive;
    font-size: 62.5%; /* 10px */
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-body);
    display: flex;
}

.wrapper {
    width: 35%;
    height: 90%;
    min-width: 320px;
    background-color: var(--color-wrapper);
    margin: 5rem auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 1rem;
    overflow-y: scroll;
}

.wrapper-title {
    color: var(--color-title);
    font-size: 5rem;
    margin: 1rem auto 3rem;
    text-decoration: underline;
    text-transform: capitalize;
}

input,
button{
    border-radius: 1rem;
    height: 4rem;
}

.wrapper-inputs {
    color: var(--color-text);
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#task-input {
    padding-left: 1rem;
    background-color: var(--color-body);
    margin-right: 1rem;
    margin-bottom: 2rem;
    width: 60%;
}

#task-input:placeholder-shown {
    opacity: 0.53;
    border: 1px solid var(--color-title);
    padding-inline-start: 1rem;
}

#add-input {
    width: 15%;
    background-color: var(--color-body);
}

#add-input:hover {
    cursor: pointer;
}

.wrapper-tasks {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.task-list {
    width: inherit;
    height: inherit;
    color: var(--color-text);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.task-item {
    display: flex;
    font-size: 4rem;
    margin-top: 1rem;
    width: 77%;
}

.task-item input {
    margin-right: 1rem;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: green;
}