body {
  font-family: sans-serif;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  height: 500px;
  background-image: url(moon_cat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  filter: grayscale(0.6);
  color: white;
  cursor: pointer;

  transition: 0.3s;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: ' ';

  display: block;
  position: absolute;

  height: 100px;
  width: 100px;
  
  border: 1px solid white;
  opacity: 0;
  
  transition: 0.3s;
}

.card-wrapper h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.3s;
}

.card-wrapper p {
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.card:hover {
  filter: unset;
  animation: backgroundTransition 3s ease-in-out forwards;
}

.card:hover > .card-wrapper::before {
  height: 200px;
  width: 300px;
  opacity: 1;
  transition: 3s;
}

.card:hover > .card-wrapper p {
  font-size: 20px;
  visibility: visible;
  opacity: 1;
  transition: 3s;
}

@keyframes backgroundTransition {
  0% {
    background-position: center;
    filter: grayscale(0.6);
  }
  50% {
    filter: grayscale(0.3);
  }
  100% {
    background-position: 90%;
    filter: grayscale(0);
  }
}