* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color-dark: #2B2B2B;
    --color-light: #FFFFFF;
    --color-footer: #797A7C;
}

body {
    font-size: 62.5%; /* 10px */
    font-family: cursive;
    width: 100vw;
    height: 100vh;
    color: var(--color-dark);
    background-color: var(--color-dark);
    display: flex;
}

main {
    width: 40rem;
    height: 30rem;
    border: 1px solid var(--color-dark);
    background-color: #797A7C;
}